{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="consultation-container"> {# Puedes reutilizar esta clase o crear una específica para medicos #}
    <h2>Agregar Nuevo Médico</h2>
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            </button>
            <a href="{% url 'tabla_medicos' %}" class="btn btn-secondary">Cancelar</button>
            </a>
        </div>
    </form>
</div>
{% endblock %}